<h2>メールアドレスを登録しました。</h2>

<p><%= @user.name %>さん</p>
<p>メール通知機能が使用できるようになりました。是非ご活用ください。</p>
<p>このメールアドレスは送信専用です。<br>返信はできません。</p>
<p><%= link_to 'Todoアプリ', 'https://nfvsxpqbegwp.herokuapp.com/' %></p>
