<% provide(:title, 'Todoアプリについて')%>
<h1>Todoアプリについて</h1>
<p>勉強のために作ってみたサイトです。</p>
<h2>使い方</h2>
<h3>タスク</h3>
<ul class="about">
  <li>ログインするとタスク一覧ページが表示されます。</li>
  <li>タスクを追加するをクリックしてタスク追加フォームページへ</li>
  <li>タスク名と予定日を指定できます。<br>
    （※）タスク名は必須ですが、予定日はなくて構いません<br>
    （※）IEでは予定日をカレンダーから選ぶことができません。手動で入力する必要があります。<br>
    （※）メールアドレスを登録していると、通知メールを送信するチェックボックスが表示され、チェックを入れると完了していなかった場合予定日の朝8時ごろに通知メールが届きます。
  </li>
  <li>タスク内容ページが表示されるので、上部のタスク内容登録フォームにタスク内容を入力し、登録するボタンを押す。<br>
    （※）タスクを追加したら、タスク内容を必ず追加してください。<br>
    （※）タスク内容ページには任意のコメントをつけることができます。
  </li>
  <li>タスク内容が追加されます。作業に入ったり、作業が終わったら、ステータス欄のセレクトボックスでステータスを変更します。<br>
    （※）このステータス変更で、タスク自体のステータスが自動的に変更されます。
  </li>
  <li>タスクが完了すると、完了済みタスクにタスクが追加されます。</li>
  <li>予定日を過ぎたタスクは背景色が赤色になり、強調表示されます。</li>
</ul>

<h3>ユーザー設定</h3>
<ul class="about">
  <li>ヘッダーメニューのユーザー名をクリックすると、1ヶ月間の簡単なタスク集計が見られ、ユーザー情報更新、ユーザー削除が行えます。</li>
  <li>ユーザー情報更新では、ユーザー名、パスワードの変更に加え、メールアドレスの登録と、プロフィール画像、背景画像のアップロードができます。</li>
</ul>

<h3>その他不明点等</h3>
<ul>
  <li>管理者に直接問い合わせてください。<br>
    （※）パスワードを忘れた場合はユーザー名を教えてくれれば、パスワードを再設定します。
  </li>
</ul>